.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
.venv2 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

/referensiences
.env*.local

.env
__pycache__/
*.py[cod]
*.json
.venv
*.spec
*.log
dist/
build/